@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

body {
  font-family: "Montserrat", monospace;
  font-weight: 400;
  margin: 0 !important;
  background-color: #111111;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Alternates", monospace;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card {
  background-color: #2c2b2b;
  padding: 1.5vw;
  border-radius: 15px;
  margin-bottom: 1vh;
}

.date {
  font-size: 12px;
}

.change {
  background-color: #24495e;
  border-radius: 5px;
  padding: 1px;
  color: #fff;
}

.change:hover {
  color: #fff;
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}


body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.designation {
  line-height: 0%;
  font-family: "Montserrat", monospace;
}

td {
  width: 50vw;
  border: none;
  padding: 2vw;
}

table {
  top: 0;
  margin: 0;
  left: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

.sky {
  background-color: skyblue;
  height: 100vh;
}

.earth1 {
  background-image: url("/assets/earth1.jpg");
  background-size: 50vw auto;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  padding: 0;
}

.earth2 {
  background-image: url("/assets/earth2.jpg");
  background-size: 50vw auto;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
}

img {
  width: 45vw;
}

a {
  color: grey;
  transition: 0.3s;
  text-decoration-color: grey;
}

a:hover {
  color: #fff;
  text-decoration-color: #fff;
}

@media (max-width: 800px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  td {
    border: none;
    position: relative;
    white-space: normal;
    text-align: center !important;
    width: 100vw;
    padding: 0;
    padding-top: 5vh;
  }
  .earth1, .earth2 {
    background-size: 100vw auto;
  }
  .card {
    margin-left: 4vw;
    margin-right: 4vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

@media (pointer: coarse) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  td {
    border: none;
    position: relative;
    white-space: normal;
    text-align: center !important;
    width: 100vw;
    padding: 0;
    padding-top: 5vh;
  }
  .earth1, .earth2 {
    background-size: 100vw auto;
    height: 65vh;
  }
  .card {
    margin-left: 4vw;
    margin-right: 4vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}
